{% extends 'index.html' %}
{% load static %}
{% block body %}


	<!-- about  -->
<section class="about py-5">
	 <head>
        <title>Testing</title>
         <style>
    #ABC {
      background-image: linear-gradient(45deg,rgb(255, 99, 71, 0.6) 10%,#9733ee 90%);
      border: 1px solid red;
      padding: 1em;
      border-radius: 3px;
      margin: 1em 0;
     color: #fff;
    }
  </style>
</head>

        <section id="ABC">

			 <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h1 style="font-size:55px;">About Us</h1>
          <div class="section-title-divider"></div>
         <h3> <p  style="color:black;">We offer world-class services through Smart Health Care by relying on the
			  most talented pool of Doctor in the region</p></h3>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <<img src="{% static 'images/g4.jpeg' %}" alt="Popup Image" class="img-fluid" />
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">We provide great services and ideass</h2>
          <p  style="color:Aqua;">
           “ Smart Health Care System" is the automation of
                 therapeutic information to help and upgrade
			 <ol><li>
			Administration of health services</li>
			<li> Clinical care</li>
            <li> Medical analysis</li>
			<p  style="color:Aqua;">
			It is the appliance of computing and communication
technologies to optimize health information science by
assortment, storage, capacity viable recovery in due time
and spot The planned system is especially employed by the
all the folks wherever privacy and respectability of the data
has most extreme significance. PC helped data recovery may
help bolster quality in settling on choices and to keep away
from human blunder. Imagine a doctor should examine five
patient records; he or she is going to bear them with ease. If
the quantity of records grows with a time constraint, it is
basically limited that the precision with which the specialist
conveys the outcomes won't be as high in light of the fact
that the got once he had exclusively five records to be
examined.





</p>
          </p>
        </div>
      </div>
    </div>
  </section>


	<div class="gallery py-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Smart Health Care</h3>
			</div>
			<div class="gal-pop-style pt-xl-4">
				<div class="row">
					<div class="col-md-4 gal-img">
						<a href="#gal1" title="Health Prediction"><img src="{% static 'images/doc1.jpg' %}" alt="gallery" class="img-fluid"></a>
					</div>
					<h5>Sometimes we need the help of doctors immediately, but
due to some reasons they unavailable. In our project we
propose a system that is user favourable to get guidance on
health issues instantly through online health care system. In
recent years, with reference to the Bayesian statistics and
posterior distribution the puzzles are solved highly.
Meanwhile, Bayesian statistics with success apply to
economic, social science and a few different fields. In
medical fields, the foreign students have solved some
medical issues that are laborious to be settled in classic
statistics by classification of Bayesian. Naive Bayes is
among the foremost common classification technique
introduced by Reverend Thomas Bayes. With no extra
information, classification rules are generated by the
samples trained by themselves.</h5>
	</div>





	</section>
	<!-- //about -->

	<!-- banner bottom -->
	<div class="section-2">
		<div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-3">

				</div>
				<div class="col-xl-6 triple-sec p-5">
					<h5 class="text-wh font-weight-bold">Opening Hours</h5>
					<ul class="list-unstyled text-wh mt-4">
						<li class="clearfix py-3">
							<span class="float-left"> Monday - Friday </span>
							<div class="value float-right"> 9.00 AM - 08.00 PM </div>
						</li>
						<li class="clearfix border-top border-bottom py-3">
							<span class="float-left"> Saturday </span>
							<div class="value float-right"> 10.00 AM - 04.00 PM </div>
						</li>
						<li class="clearfix py-3">
							<span class="float-left"> Sunday </span>
							<div class="value float-right">09.30 - 06.00 PM </div>
						</li>
					</ul>
				</div>
				<div class="col-xl-3">
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->
	<!-- doctor form -->

	<!-- //doctor form -->

{% endblock  %}