{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="banner_w3lspvt" style="margin-top:6%">
			<div class="csslider infinity" id="slider1">

				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />

				<ul class="banner_slide_bg">

					<li class="banner-top1" style="height:500px">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">THE BEST DOCTOR GIVES THE LAST MEDICINE</h3>Providing Extensive Family HealthCare
							</div>
						</div>
					</li>

					<li class="banner-top2" style="height:500px">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">Bringing Health to life for the whole family</h3>
							</div>
						</div>
					</li>

					<li class="banner-top3" style="height:500px">
						<div class="container">
							<div class="banner-info_agile_w3ls text-center mx-auto">
								<h3 class="text-wh font-weight-bold">The best Doctor Gives The Last Medicines</h3>
							</div>
						</div>
					</li>

				</ul>
				
				<div class="navigation">
					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label for="slides_3"></label>
					</div>
				</div>
			</div>
</div>

{% endblock %}